body{font:12px/1.8 "宋体";position:relative;}
html,body{height:100%;margin:0;padding:0;overflow-y: hidden}
.strt-wrap{width:100000px;margin:10px;}
.strt-part{text-align:center;float:left;position:relative;}
.strt-part .line-v{position:relative;height:40px;width:100%;}
.strt-part .line-v span{display:block;background:#ccc;position:absolute;top:0;font-size:0;line-height:1px;width:1px;height:40px;left:50%;}
.strt-name{display:inline-block;padding:0 2px;height:24px;line-height:24px;border:1px solid #ccc;margin:0 4px;border-radius:3px;background:#f8f8f8;}
.strt-part .line-h{height:1px;display:block;background:#ccc;position:absolute;top:0;font-size:0;}
.strt-part .line-h-l{width:50%;left:0;}
.strt-part .line-h-c{width:100%;left:0;}
.strt-part .line-h-r{width:50%;right:0;}
.strt-block{float:left;}
.inp{position: relative;top: 3px;}